/*

- Desaturated Dark Cyan: 

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

$dark-cyan: hsl(180, 29%, 50%);
$background-cyan: hsl(180, 100%, 94%);
$filter-cyan: hsl(180, 31%, 95%);
$darker-cyan: hsl(180, 8%, 52%);
$darkest-cyan: hsl(180, 14%, 20%);

$small-screen: 650px;

.App {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  background-color: $background-cyan;
}

.filter-bar {
  background-color: $dark-cyan;
  background-image: url('/bg-header-mobile.svg');
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .filter-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    .filter-item {
      background-color: $filter-cyan;
      color: $dark-cyan;
      font-weight: 700;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      .item-name {
        padding: 6px;
      }
      .remove-item {
        background-color: $dark-cyan;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .remove-item:hover {
        background-color: $darkest-cyan;
        cursor: pointer;
      }
    }

  }

  .clear-filter {
    color: $dark-cyan;
    margin: auto 5px;

  }

  .clear-filter:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.job-list {
  width: 90%;
  margin: auto;
}

.feat {
  border-left: 4px solid $dark-cyan;
}

.job {
  padding:20px;
  margin: 60px auto;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba( $dark-cyan, .5 );

  .company {
    display: flex;
    align-items: center;
    margin: 10px;

    .title {
      color: $dark-cyan;
      font-weight: 700;
    }

    .hide {
      display: none;
    }

    .new, .feature {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: $filter-cyan;
      border-radius: 20px;
      padding: 10px;
      margin: 0 10px;
    }

    .new {
      background-color: $dark-cyan;
    }

    .feature {
      background-color: $darkest-cyan;
    }
  }

  .position {
    margin: 10px;
    font-weight: 700;
  }

  .position:hover {
    color: $dark-cyan;
    cursor: pointer;
  }

  .about {
    display: flex;
    align-items: center;
    margin: 10px;
    
    .element {
      color: $darker-cyan;

    }
    .dot {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      margin: 0 5px;
      background-color: $darker-cyan;
    }
  }

  hr {
    margin: 10px;
    border: 1px solid $darker-cyan;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;

    .filter-option {
      font-weight: 700;
      padding: 10px;
      margin: 5px;
      color: $dark-cyan;
      background-color: $filter-cyan;
      border-radius: 5px;
    }

    .filter-option:hover {
      background-color: $dark-cyan;
      color: $filter-cyan;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: $small-screen) {
  .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    
    .job-container {
      display: flex;
      align-items: center;

      .logo {
        padding: 0 30px;
      }

      .dot {
        margin: 0 20px;
      }
    }

    hr {
      display: none;
    }
  }
}